.basket {
  max-width: 50%;
  margin: 40px auto;
}

.basket-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.basket-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.basket-info {
  flex: 1;
}

.basket-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.basket-buttons button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.basket-buttons button:first-of-type:hover {
  background-color: #e53935;
}
.basket-buttons button:nth-of-type(2):hover {
  background-color: #1feb0d;
}
.basket-total {
  font-weight: bold;
}

.basket-sum {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-button {
  background: #e53935;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.buy-button {
  background: #1feb0d;
  color: black;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
